.t1{
    font-size:15px !important;
}
.t2{
    font-size:40px !important;
}
.t3{
    font-size:12px !important;
}
.img1{
    width: 350px ;
    border-radius: 180px 70px 50px 50px;
    align-items: center;
}
.img2{
    width: 350px ;
    height: 350px;
    border-radius: 100px 50px 150px 100px !important;
    padding-left: 50px !important;
}
.meet{
    text-align: center;
}
.meet .t3{
    text-align: left;
    margin-left: 475px;
    margin-right: 450px;
}
.meet img{
    width: 180px !important;
}
.c1 {
    align-items: center !important;
}
.bg_img{
    width: 50px;
    height: 20px;
    position:absolute;
    left:50px;
    align-items:flex-start;
    background-size:cover;
    background-color: #ccc;
    z-index: -1;
}
.bg_img1{
    width: 50px;
    height: 20px;
    align-items:flex-start;
    opacity: 0.05; 
    background-size:cover;
    background-color: #ccc;
    /* z-index: -1;; */
}
.bg_img2{
    width: 50px;
    height: 20px;
    margin-left: 25px;
    opacity: 0.05; 
    background-color: #ccc;
}
.tosay .mrk{
    padding-bottom: 0px;
}
.img3{
    align-items: center !important;
    border-radius: 10px;
    width: 150px;
}
.card{
    width: 18rem;
    position: static;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 25px !important;
}
.card .card-img-top{
    border-radius: 30px 30px 0px 0px;
}
.card-body{
    border-radius: 30px !important;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card-link{
    text-decoration: none !important;
    color:  rgb(121, 16, 240);    
}
.inspire .card{
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}
.inspire .card-text{
    color:  rgb(10, 183, 236);
} 
.inspire .card-text span{
    color: black;
    font-size: small;
    font-weight: lighter;
} 
.c4 .card{
    border-radius: 10px 10px 10px 50px;
}
.c8 .img1{
    border-radius: 180px 70px 70px 70px;
}
.bot_grad{
    background-image: linear-gradient(to right, rgb(15, 33, 189) , rgb(19, 200, 224)); 
    color: lavenderblush;
}

.c4 .card-subtitle{
    font-weight: bold;
}

.c3 .t1{
    color: rgb(121, 16, 240);
    font-weight: bold;
}
.c3 .t2{
    display: initial;
}
.c3 .service_btn_postion
{
    position: relative;
}
.c3 .btn2{
    position: absolute;
    right: 50px;

}
.c2 .t2{
    color: rgb(121, 16, 240);
}
.inspire .fs-2{
    color: rgb(121, 16, 240);
}
.tosay .mrk{
    color: rgb(121, 16, 240);
    font-weight: bold;
    margin-bottom: 0px;
}
.hide1{
    display: none;
}